<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>EA - Solution | {{ title }}</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/materialdesignicons.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/material-components-web.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/_global.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/modules/nav/_nav.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/modules/footer/_footer.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/_custom.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Import Google API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!--<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=***&libraries=visualization"></script> -->

</head>

<body>

<div id="top_section"></div>

{% include 'partials/nav.twig' %}
{% include 'partials/fab.twig' %}

{% if not user %}
    {% include 'modules/form/login_modal.twig' %}
{% endif %}

<main>
    {% for module in modules %}
        {{ module | raw }}
    {% endfor %}
</main>

{% include 'partials/footer.twig' %}

<div id="html_seitenende"></div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/materialize.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/skrollr.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/material-components-web.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/_global.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/js/_custom.js"></script>
</body>
</html>