<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Emre Akguel <emre.akguel.1@gmail.com>">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ title }}</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Lato Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/materialdesignicons.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/material-components-web.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/gallery-dark-materialize.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/gallery-materialize.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/vendor/prism.css"/>

    <!-- <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/_global.css"/> -->
    <!-- <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/css/modules/nav/_nav.css"/> -->
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/modules/footer/_footer.css"/>
    <link type="text/css" rel="stylesheet" href="{{ base_url() }}/Resources/static/assets/css/_custom.css"/>

    <!-- Import Google API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!--<script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=***&libraries=visualization"></script> -->

</head>

<body>

<div id="top_section"></div>

{{ includeNav( nav ) | raw }}

{% include 'partials/fab.twig' %}

{% for el in body %}
    {{ include(el.json) | raw }}
{% endfor %}

{#<main>
    {% for module in modules %}
        {{ module | raw }}
    {% endfor %}
</main>#}

{% include 'partials/footer.twig' %}

<div id="html_seitenende"></div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/jquery-3.2.0.min.js"></script>
{#<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/skrollr.min.js"></script>#}
{#<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/jquery.waypoints.min.js"></script>#}
{#<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/material-components-web.js"></script>#}
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/prism.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/materialize.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/color-thief.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/galleryExpand.js"></script>
{#<script type="text/javascript" src="{{ base_url() }}/Resources/js/vendor/init.js"></script>#}
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/vendor/docs-init.js"></script>


{#<script type="text/javascript" src="{{ base_url() }}/Resources/js/_global.js"></script>#}
<script type="text/javascript" src="{{ base_url() }}/Resources/static/assets/js/_custom.js"></script>
</body>
</html>