<section class="section vh100">
    <div class="mask pattern-4"></div>
    <div class="container valign">
        <div class="row">
            <div class="card col offset-s2 s8 z-depth-2">
                <form id="form__login" method="POST" action='{{ action }}' autocomplete='off'>
                    <div class="row">
                        <h2 class="center card-title">Login</h2>

                        <div class="row">
                            <div class="input-field col s8 offset-s2 left-align">
                                <i class="mdi mdi-email mdi-24px mdi-dark prefix"></i>
                                <input id="form_email" name="email" type="email" class="validate {{ errors.email ? 'invalid' : ''}}"
                                        value="{{ old.email }}" required>
                                <label for="form_email" data-error="{{ errors.email | first }}">E-Mail:</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 offset-s2 left-align">
                                <i class="mdi mdi-login mdi-24px mdi-dark prefix"></i>
                                <input id="form_password" name="password" type="password" class="validate {{ errors.password ? 'invalid' : ''}}" required>
                                <label for="form_password" data-error="{{ errors.password | first }}">Password:</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="{{ csrf_nameKey }}" value="{{ csrf_name }}">
                    <input type="hidden" name="{{ csrf_valueKey }}" value="{{ csrf_value }}">

                    <div class="row center-align">
                        <a href="/registry" class="modal-action waves-effect waves-red btn btn-flat">Registrieren</a>
                        <button type="submit" class="btn btn-primary blue-background">
                            Login <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>