<section class="parallax-container valign-wrapper vh100">

    <div class="container valign">
        <div class="row">
            <div class="error">
                {% for e in errors %}
                    {{ e }}
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="card col offset-s2 s8 z-depth-2">
                <form id="form__registry" method="POST" action='{{ action }}' autocomplete='off'>
                    <div class="row">
                        <h2 class="center card-title">Registrierung</h2>
                        <p class="blue-text text-darken-4 center-align">
                            Registriere dich noch heute... völlig kostenlos.
                        </p>

                        <div class="row ">
                            <div class="input-field col offset-s2 s4">
                                <i class="mdi mdi-contacts mdi-24px mdi-dark prefix"></i>
                                <input id="form_vorname" name="vorname" type="text" class="validate"
                                        {% if userRegistry and userRegistry.vorname %}
                                            value="{{ userRegistry.vorname }}"
                                        {% endif %} required tabindex="0">
                                <label for="form_vorname" date-error="Fehlerhafter Vorname">Vorname</label>
                            </div>

                            <div class="input-field col s4">
                                <input id="form_name" name="name" type="text" class="validate"
                                        {% if userRegistry and userRegistry.name %}
                                            value="{{ userRegistry.name }}"
                                        {% endif %} required tabindex="0">
                                <label for="form_name" date-error="Fehlerhafter Name">Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 offset-s2 left-align">
                                <i class="mdi mdi-email mdi-24px mdi-dark prefix"></i>
                                <input id="form_email" name="email" type="email" class="validate"
                                        {% if userRegistry and userRegistry.email%}
                                            value="{{ userRegistry.email }}"
                                        {% endif %} required tabindex="0">
                                <label for="form_email" date-error="Fehlerhafte E-Mail">E-Mail:</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 offset-s2 left-align">
                                <i class="mdi mdi-login mdi-24px mdi-dark prefix"></i>
                                <input id="form_password" name="password" type="password" required tabindex="0">
                                <label for="form_password">Password:</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 offset-s2 left-align">
                                <i class="mdi mdi-login mdi-24px mdi-dark prefix"></i>
                                <input id="form_repeat_password" name="repeat_password" type="password" required tabindex="0">
                                <label for="form_repeat_password">Password wiederholen:</label>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" name="{{ csrf_nameKey }}" value="{{ csrf_name }}">
                    <input type="hidden" name="{{ csrf_valueKey }}" value="{{ csrf_value }}">

                    <div class="row center-align">
                        <button type="submit" class="btn btn-primary blue-background" tabindex="0">
                            Registrieren <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
